<mat-drawer-container>
  <mat-drawer class="mat-elevation-z2" mode="side" opened>
    <nav>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/profile"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="{ exact: true }"
          >Account</a
        >
        <a
          mat-list-item
          routerLink="./multi-factor-auth"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="{ exact: true }"
          >Multi-factor Authentication</a
        >
        <a
          mat-list-item
          routerLink="./notifications"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="{ exact: true }"
          >Notifications</a
        >
        <a
          mat-list-item
          routerLink="./auth-tokens"
          routerLinkActive="active-route"
          >Auth Tokens</a
        >
      </mat-nav-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <gt-mobile-nav-toolbar
      *ngIf="isLoggedIn$ | async"
      [activeOrg]="activeOrganizationDetail$ | async"
      (buttonClicked)="toggleSideNav()"
    ></gt-mobile-nav-toolbar>
    <section class="l-body">
      <header class="page-header">
        <h1 class="mat-headline-4">User Profile</h1>
        <p class="mat-body-1 subtitle" *ngIf="user$ | async as user">
          {{ user.email }}
        </p>
      </header>
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
